.main {
  background-color: #0f1824;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main .div {
  background-color: #0f1824;
  width: 1440px;
  height: 6675px;
  position: relative;
}

.main .overlap {
  position: absolute;
  width: 1440px;
  height: 1801px;
  top: 2322px;
  left: 0;
}

.main .rectangle-main {
  position: absolute;
  width: 1440px;
  height: 1143px;
  top: 69px;
  left: 0;
  background-color: #131a26;
}

.main .group-main {
  position: absolute;
  width: 614px;
  height: 1281px;
  top: 0;
  left: 413px;
}

.main .component-main {
  position: absolute;
  width: 473px;
  height: 142px;
  top: 1268px;
  left: 715px;
  transform: rotate(-180deg);
}

.main .ellipse {
  position: relative;
  width: 400px;
  height: 50px;
  top: 23px;
  left: 37px;
  background-color: #bb77ff4c;
  border-radius: 200px/25px;
  filter: blur(50px);
}

.main .rectangle-main-2 {
  position: absolute;
  width: 908px;
  height: 475px;
  top: 1326px;
  left: 266px;
  background-color: #101824;
  border-radius: 40px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(29, 32, 57) 6.96%,
      rgb(23.24, 35.2, 53.12) 37.43%,
      rgb(64.26, 55.1, 100.94) 54.26%,
      rgb(24.73, 34.37, 54.13) 60.58%,
      rgb(31.9, 34.74, 58.44) 97.07%
    )
    1;
}

.main .frame-main {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  position: absolute;
  top: 169px;
  left: 265px;
}

.main .frame-frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.main .p {
  position: relative;
  width: 842px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.main .text-wrapper {
  color: #e1d6d3;
}

.main .span {
  color: #bb77ff;
}

.main .text-wrapper-2 {
  position: relative;
  width: 688px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.main .frame-frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-2 {
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-4 {
  display: flex;
  flex-direction: column;
  width: 438px;
  align-items: flex-start;
  gap: 6px;
  padding: 24px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
}

.main .frame-frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px;
  box-shadow: 0px 1px 14px #ce81f3ad;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.main .img {
  position: relative;
  width: 34px;
  height: 29.31px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
}

.main .ellipse-2 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  left: 10px;
  border-radius: 5.76px;
  border: 2px solid;
  border-color: #7d54a5;
}

.main .vector-frame {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 9px;
  left: 19px;
}

.main .frame-frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-3 {
  position: relative;
  width: 283px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #a379cc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.main .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.5px;
}

.main .frame-frame-8 {
  width: 438px;
  padding: 24px;
  margin-top: -0.12px;
  margin-bottom: -0.12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
}

.main .frame-frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-10 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -10px;
  margin-left: -11px;
}

.main .frame-frame-11 {
  display: flex;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #a379cc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.main .text-wrapper-6 {
  position: relative;
  width: 398px;
  margin-right: -8px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.5px;
}

.main .frame-frame-12 {
  display: inline-flex;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-13 {
  display: flex;
  width: 440px;
  gap: 6px;
  padding: 24px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.main .frame-frame-14 {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .solardocument-add {
  position: relative;
  width: 36px;
  flex: 0 0 auto;
}

.main .frame-frame-16 {
  display: flex;
  flex-direction: column;
  width: 438px;
  align-items: flex-start;
  gap: 6px;
  padding: 24px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -0.52px;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(1, 17.04, 20, 0) 6.96%,
      rgb(193.37, 90.24, 90.24) 58.33%,
      rgb(255, 162, 139) 97.07%
    )
    1;
}

.main .frame-frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .img-2 {
  position: relative;
  flex: 0 0 auto;
}

.main .frame-main-2 {
  display: flex;
  flex-direction: column;
  width: 438px;
  align-items: flex-start;
  gap: 6px;
  padding: 24px;
  position: absolute;
  top: 839px;
  left: 501px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
}

.main .frame-frame-18 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .boostcostefficiency-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main .casestudies-main {
  position: absolute;
  width: 842px;
  top: 1361px;
  left: 299px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #bb77ff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.main .frame-main-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  position: absolute;
  top: 1444px;
  left: 302px;
}

.main .text-wrapper-7 {
  position: relative;
  width: 399px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #e1d6d3;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 33.6px;
}

.main .text-wrapper-8 {
  position: relative;
  width: 399px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20.6px;
}

.main .button {
  display: flex;
  width: 208px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  border: 1px solid;
  border-color: #6e40c9;
  box-shadow: 0px 2px 4px #442557;
  all: unset;
  box-sizing: border-box;
}

.main .scheduleacall {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.main .image-main {
  position: absolute;
  width: 400px;
  height: 260px;
  top: 1438px;
  left: 738px;
}

.main .frame-main-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 13px;
  position: absolute;
  top: 1770px;
  left: 692px;
}

.main .ellipse-3 {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.main .ellipse-4 {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #bb77ff;
}

.main .overlap-group {
  position: absolute;
  width: 945px;
  height: 1290px;
  top: 168px;
  left: 248px;
}

.main .overlap-group-wrapper {
  position: absolute;
  width: 945px;
  height: 538px;
  top: 115px;
  left: 0;
}

.main .overlap-group-2 {
  position: relative;
  width: 815px;
  height: 383px;
  top: 78px;
  left: 59px;
}

.main .ellipse-5 {
  position: absolute;
  width: 166px;
  height: 161px;
  top: 110px;
  left: 340px;
  background-color: #4f2777;
  border-radius: 83px/80.5px;
  filter: blur(64px);
}

.main .ellipse-6 {
  position: absolute;
  width: 166px;
  height: 161px;
  top: 82px;
  left: 0;
  background-color: #622777;
  border-radius: 83px/80.5px;
  filter: blur(164px);
}

.main .union {
  position: absolute;
  width: 783px;
  height: 383px;
  top: 0;
  left: 32px;
}

.main .microsoftteams {
  position: absolute;
  width: 915px;
  height: 470px;
  top: 510px;
  left: 16px;
}

.main .rectangle-main-3 {
  position: absolute;
  width: 914px;
  height: 247px;
  top: 768px;
  left: 17px;
  background: linear-gradient(180deg, rgb(16, 24, 36) 0%, rgba(16, 24, 36, 0) 100%);
}

.main .frame-main-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  position: absolute;
  top: 995px;
  left: 12px;
}

.main .component {
  position: absolute;
  width: 473px;
  height: 142px;
  top: 217px;
  left: 224px;
}

.main .frame-frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-9 {
  position: relative;
  width: 842px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #bb77ff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.main .itsaready-to {
  position: relative;
  width: 921px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.main .frame-frame-20 {
  display: flex;
  flex-direction: column;
  width: 905px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
}

.main .frame-frame-21 {
  display: inline-flex;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
  mix-blend-mode: luminosity;
}

.main .frame-frame-22 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.main .prometheus {
  position: relative;
  width: 36px;
  height: 36px;
}

.main .alertmanager {
  position: relative;
  width: fit-content;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.main .group-frame {
  position: relative;
  width: 106.77px;
  height: 38.42px;
}

.main .gitlab {
  position: relative;
  width: 96px;
  height: 48px;
}

.main .keycloak {
  position: relative;
  width: 135px;
  height: 32px;
}

.main .frame-frame-23 {
  position: relative;
  flex: 0 0 auto;
  mix-blend-mode: luminosity;
}

.main .frame-main-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  position: absolute;
  top: 0;
  left: 65px;
}

.main .overlap-group-wrapper-2 {
  position: relative;
  width: 815px;
  height: 144px;
}

.main .overlap-group-3 {
  position: relative;
  height: 144px;
}

.main .div-wrapper-2 {
  position: absolute;
  width: 815px;
  height: 144px;
  top: 0;
  left: 0;
}

.main .div-2 {
  position: absolute;
  width: 408px;
  top: 35px;
  left: 204px;
  opacity: 0;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

.main .text-wrapper-10 {
  color: #e1d5d3;
}

.main .text-wrapper-11 {
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
}

.main .component-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0;
}

.main .text-wrapper-12 {
  position: relative;
  width: 730px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #a8ade0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
}

.main .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.main .button-frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #6e40c9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #442557;
  all: unset;
  box-sizing: border-box;
}

.main .scheduleacall-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.main .main-wrapper {
  position: absolute;
  width: 1440px;
  height: 778px;
  top: 5667px;
  left: 0;
  background-color: #131a26;
}

.main .frame-main-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  position: relative;
  top: 122px;
  left: 100px;
}

.main .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #bb77ff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
}

.main .frame-frame-24 {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  align-items: flex-start;
  justify-content: center;
  gap: 36px 30px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-25 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 24px;
  border: 1px solid;
  border-color: #1a2331;
}

.main .maskgroup {
  position: relative;
  width: 332px;
  height: 206px;
}

.main .frame-frame-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .storiesinsight-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 9px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff1a;
  border-radius: 4px;
}

.main .storiesinsight {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #bb77ff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14.4px;
  white-space: nowrap;
}

.main .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #e1e1e1;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.main .frame-frame-27 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .frame-frame-28 {
  display: flex;
  width: 179.5px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.main .ellipse-7 {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #d9d9d9;
  border-radius: 13px;
}

.main .frame-frame-29 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.main .frame-frame-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.main .bobjonhson {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #f6f6f6e6;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.4px;
  white-space: nowrap;
}

.main .founderceo {
  position: relative;
  width: fit-content;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #f6f6f680;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 13.2px;
  white-space: nowrap;
}

.main .element {
  position: relative;
  width: fit-content;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #f6f6f680;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14.4px;
  white-space: nowrap;
}

.main .scheduleacall-wrapper {
  display: flex;
  width: 283px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  border: 1px solid;
  border-color: #6e40c9;
  box-shadow: 0px 2px 4px #442557;
  all: unset;
  box-sizing: border-box;
}

.main .header-main {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 28px 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #01031403;
  backdrop-filter: blur(54px) brightness(100%);
  -webkit-backdrop-filter: blur(54px) brightness(100%);
}

.main .header {
  position: relative;
  width: 237.46px;
  height: 23.88px;
}

.main .overlap-group-4 {
  position: absolute;
  width: 29px;
  height: 21px;
  top: 1px;
  left: 0;
}

.main .ellipsestroke {
  position: absolute;
  width: 19px;
  height: 12px;
  top: 0;
  left: 0;
}

.main .ellipsestroke-2 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 8px;
  left: 0;
}

.main .ellipsestroke-3 {
  position: absolute;
  width: 7px;
  height: 5px;
  top: 16px;
  left: 8px;
}

.main .ellipsestroke-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 17px;
}

.main .ellipsestroke-5 {
  position: absolute;
  width: 7px;
  height: 5px;
  top: 0;
  left: 13px;
}

.main .ellipsestroke-6 {
  position: absolute;
  width: 19px;
  height: 12px;
  top: 8px;
  left: 10px;
}

.main .group-group {
  position: absolute;
  width: 200px;
  height: 24px;
  top: 0;
  left: 38px;
}

.main .subtract {
  position: absolute;
  width: 14px;
  height: 15px;
  top: 4px;
  left: 131px;
}

.main .rectangle {
  position: absolute;
  width: 3px;
  height: 19px;
  top: 0;
  left: 147px;
}

.main .ellipsestroke-7 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 152px;
}

.main .rectanglestroke {
  position: absolute;
  width: 13px;
  height: 14px;
  top: 5px;
  left: 170px;
}

.main .union-group {
  position: absolute;
  width: 15px;
  height: 19px;
  top: 0;
  left: 184px;
}

.main .subtract-group {
  position: absolute;
  width: 130px;
  height: 24px;
  top: 0;
  left: 0;
}

.main .frame-header {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.main .menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 40px;
}

.main .frame-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main .blog {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.main .button-2 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -28px;
  margin-bottom: -48px;
  margin-right: -44px;
}

.main .overlap-2 {
  position: absolute;
  width: 908px;
  height: 644px;
  top: 4985px;
  left: 266px;
  border-radius: 40px;
}

.main .frame-main-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  position: absolute;
  top: 51px;
  left: 33px;
}

.main .frame-2 {
  align-items: center;
  justify-content: center;
  gap: 14px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-15 {
  position: relative;
  width: 750px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daeccc;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.main .play-circle-filled-wrapper {
  position: relative;
  width: 772px;
  height: 385px;
  border-radius: 16px;
  overflow: hidden;
  background-image: url(./img/rectangle164-31-frame180-31-frame304-31-main.png);
  background-size: cover;
  background-position: 50% 50%;
}

.main .play-circle-filled {
  position: absolute;
  width: 71px;
  height: 71px;
  top: 157px;
  left: 351px;
}

.main .rectangle-main-4 {
  position: absolute;
  width: 908px;
  height: 644px;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(29, 32, 57) 6.96%,
      rgb(23.24, 35.2, 53.12) 37.43%,
      rgb(64.26, 55.1, 100.94) 54.26%,
      rgb(24.73, 34.37, 54.13) 60.58%,
      rgb(31.9, 34.74, 58.44) 97.07%
    )
    1;
}

.main .container-main {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
  position: absolute;
  top: 6610px;
  left: 0;
  background-color: #0a101a;
}

.main .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: var(--paragraph);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.main .links-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-main-9 {
  display: inline-flex;
  align-items: center;
  gap: 42px;
  position: absolute;
  top: 6464px;
  left: 100px;
}

.main .frame-frame-31 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}

.main .group-frame-2 {
  position: relative;
  width: 277px;
  height: 28px;
}

.main .overlap-group-5 {
  position: absolute;
  width: 34px;
  height: 24px;
  top: 1px;
  left: 0;
}

.main .ellipsestroke-8 {
  position: absolute;
  width: 22px;
  height: 14px;
  top: 0;
  left: 0;
}

.main .ellipsestroke-9 {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 10px;
  left: 0;
}

.main .ellipsestroke-10 {
  position: absolute;
  width: 9px;
  height: 6px;
  top: 19px;
  left: 10px;
}

.main .ellipsestroke-11 {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 0;
  left: 20px;
}

.main .ellipsestroke-12 {
  position: absolute;
  width: 9px;
  height: 6px;
  top: 0;
  left: 16px;
}

.main .ellipsestroke-13 {
  position: absolute;
  width: 22px;
  height: 14px;
  top: 10px;
  left: 12px;
}

.main .group-group-2 {
  position: absolute;
  width: 233px;
  height: 28px;
  top: 0;
  left: 44px;
}

.main .subtract-2 {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 4px;
  left: 153px;
}

.main .rectangle-2 {
  position: absolute;
  width: 4px;
  height: 22px;
  top: 0;
  left: 171px;
}

.main .ellipsestroke-14 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 178px;
}

.main .rectanglestroke-2 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 6px;
  left: 198px;
}

.main .union-2 {
  position: absolute;
  width: 18px;
  height: 22px;
  top: 0;
  left: 215px;
}

.main .subtract-3 {
  position: absolute;
  width: 152px;
  height: 28px;
  top: 0;
  left: 0;
}

.main .frame-frame-32 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.main .div-3 {
  position: relative;
  width: 273px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #cacacc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16.8px;
}

.main .text-wrapper-17 {
  font-weight: 700;
}

.main .text-wrapper-18 {
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #cacacc;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16.8px;
}

.main .frame-frame-33 {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  position: relative;
  flex: 0 0 auto;
}

.main .aboutsymphony-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff12;
  border-radius: 8px;
}

.main .aboutsymphony {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 500;
  color: #cfd0eb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.main .frame-main-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  position: absolute;
  top: 1674px;
  left: 266px;
}

.main .component-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 108px;
  position: relative;
  flex: 0 0 auto;
}

.main .group-frame-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 114px;
  position: relative;
  flex: 0 0 auto;
}

.main .group-frame-3 {
  position: relative;
  width: 213px;
  height: 537px;
}

.main .overlap-group-6 {
  position: absolute;
  width: 212px;
  height: 537px;
  top: 0;
  left: 0;
}

.main .ellipse-8 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 94px;
  background-color: #0091e25e;
  border-radius: 14px;
  filter: blur(16px);
}

.main .ellipse-9 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 509px;
  left: 94px;
  border-radius: 14px;
  filter: blur(16px);
}

.main .ellipse-10 {
  position: absolute;
  top: 254px;
  left: 94px;
  background-color: #bb77ff73;
  border-radius: 14px;
  filter: blur(16px);
  opacity: 0;
}

.main .group-group-3 {
  position: absolute;
  width: 210px;
  height: 510px;
  top: 13px;
  left: 2px;
}

.main .component-wrapper {
  position: absolute;
  width: 105px;
  height: 255px;
  top: 13px;
  left: 106px;
  box-shadow: 0px 0px 12px #8bffabb2, 0px 0px 4px #00e29a;
}

.main .component-4 {
  position: absolute;
  width: 106px;
  height: 256px;
  top: 0;
  left: 0;
}

.main .img-wrapper {
  position: absolute;
  top: 14px;
  left: 0;
  transform: rotate(180deg);
  box-shadow: 0px 0px 12px #8bffabb2, 0px 0px 4px #00e29a;
  opacity: 0;
}

.main .component-5 {
  position: absolute;
  width: 105px;
  height: 255px;
  top: -2735px;
  left: 30141px;
  transform: rotate(-180deg);
}

.main .ellipse-11 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 9px;
  left: 104px;
  background-color: #00e29a;
  border-radius: 4.5px;
}

.main .ellipse-12 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 263px;
  left: 103px;
  background-color: #bb77ff;
  border-radius: 4.5px;
  border: 1px solid;
}

.main .ellipse-13 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 519px;
  left: 102px;
  border-radius: 4.5px;
  border: 1px solid;
  border-color: #be8024;
}

.main .overlap-3 {
  position: absolute;
  width: 108px;
  height: 255px;
  top: 3257px;
  left: -30141px;
}

.main .component-6 {
  position: absolute;
  width: 105px;
  height: 255px;
  top: 0;
  left: 0;
}

.main .component-7 {
  position: absolute;
  width: 105px;
  height: 255px;
  top: 0;
  left: 3px;
}

.main .frame-3 {
  position: relative;
  width: 584px;
  height: 537px;
}

.main .frame-frame-34 {
  display: inline-flex;
  height: 537px;
  gap: 29px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.main .frame-frame-35 {
  width: 586px;
  padding: 16px 24px;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
}

.main .frame-frame-36 {
  display: inline-flex;
  align-items: center;
  gap: 21px;
  position: relative;
  flex: 0 0 auto;
}

.main .ellipse-14 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #2ceba0;
  border-radius: 8px;
}

.main .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 600;
  color: #d8daec;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
}

.main .text-wrapper-20 {
  position: relative;
  align-self: stretch;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daecb2;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.main .frame-frame-37 {
  display: flex;
  flex-direction: column;
  width: 586px;
  align-items: flex-start;
  gap: 6px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
  opacity: 0.5;
}

.main .frame-frame-38 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main .ellipse-15 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #bb77ff;
  border-radius: 8px;
  border: 1px solid;
}

.main .frame-frame-39 {
  display: flex;
  flex-direction: column;
  width: 586px;
  align-items: flex-start;
  gap: 6px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -74px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
  opacity: 0.5;
}

.main .ellipse-16 {
  background-color: #be8024;
  border-color: #be8024b5;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid;
}

.main .frame-frame-40 {
  display: flex;
  flex-direction: column;
  width: 586px;
  align-items: flex-start;
  gap: 6px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -287px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: #243140;
  opacity: 0.5;
}

.main .ellipse-17 {
  background-color: #0091e2;
  border-color: #0091e2b5;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid;
}

.main .frame-main-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  position: absolute;
  top: 4262px;
  left: 221px;
}

.main .frame-frame-41 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.main .component-8 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 47px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-frame-42 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 32px;
  align-self: stretch;
  width: 100%;
  border-radius: 16px;
  opacity: 0.5;
  position: relative;
  flex: 0 0 auto;
}

.main .ellipse-18 {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #bb77ff;
}

.main .frame-frame-43 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px 32px;
  align-self: stretch;
  width: 100%;
  background-color: #101824;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2e3849;
  position: relative;
  flex: 0 0 auto;
}

.main .ellipse-19 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #bb77ff;
  border-radius: 8px;
}

.main .frame-5 {
  display: inline-flex;
  flex-direction: column;
  height: 466px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: #1a2331;
  border-radius: 16px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(1, 17.04, 20, 0) 6.96%,
      rgb(193.37, 90.24, 90.24) 58.33%,
      rgb(110, 64, 201) 100%
    )
    1;
}

.main .text-wrapper-21 {
  position: relative;
  width: 364px;
  margin-top: -1px;
  font-family: "Instrument Sans", Helvetica;
  font-weight: 400;
  color: #d8daecb2;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.main .database-check-raid {
  position: relative;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
