:root {
  --paragraph: rgba(119, 121, 143, 1);
  --titlle-font-family: "InstrumentSans-Regular", Helvetica;
  --titlle-font-weight: 400;
  --titlle-font-size: 53px;
  --titlle-letter-spacing: 0px;
  --titlle-line-height: 120.00000476837158%;
  --titlle-font-style: normal;
  --h1-font-family: "InstrumentSans-Regular", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 43px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 120.00000476837158%;
  --h1-font-style: normal;
  --h2-font-family: "InstrumentSans-Regular", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 34px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 120.00000476837158%;
  --h2-font-style: normal;
  --h3-font-family: "InstrumentSans-Regular", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 27px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 120.00000476837158%;
  --h3-font-style: normal;
  --h4-font-family: "InstrumentSans-Regular", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 22px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 120.00000476837158%;
  --h4-font-style: normal;
  --body-l-font-family: "InstrumentSans-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 153.99999618530273%;
  --body-l-font-style: normal;
  --body-m-font-family: "InstrumentSans-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 14px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 120.00000476837158%;
  --body-m-font-style: normal;
  --caption-font-family: "InstrumentSans-Regular", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 11px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 120.00000476837158%;
  --caption-font-style: normal;
  --titlle-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --titlle-bold-font-weight: 600;
  --titlle-bold-font-size: 53px;
  --titlle-bold-letter-spacing: 0px;
  --titlle-bold-line-height: 120.00000476837158%;
  --titlle-bold-font-style: normal;
  --h1-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --h1-bold-font-weight: 600;
  --h1-bold-font-size: 43px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: 120.00000476837158%;
  --h1-bold-font-style: normal;
  --h2-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --h2-bold-font-weight: 600;
  --h2-bold-font-size: 34px;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: 120.00000476837158%;
  --h2-bold-font-style: normal;
  --h3-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --h3-bold-font-weight: 600;
  --h3-bold-font-size: 27px;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 120.00000476837158%;
  --h3-bold-font-style: normal;
  --h4-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --h4-bold-font-weight: 600;
  --h4-bold-font-size: 22px;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: 120.00000476837158%;
  --h4-bold-font-style: normal;
  --body-l-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --body-l-bold-font-weight: 600;
  --body-l-bold-font-size: 18px;
  --body-l-bold-letter-spacing: 0px;
  --body-l-bold-line-height: 120.00000476837158%;
  --body-l-bold-font-style: normal;
  --body-m-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --body-m-bold-font-weight: 600;
  --body-m-bold-font-size: 14px;
  --body-m-bold-letter-spacing: 0px;
  --body-m-bold-line-height: 120.00000476837158%;
  --body-m-bold-font-style: normal;
  --caption-bold-font-family: "InstrumentSans-SemiBold", Helvetica;
  --caption-bold-font-weight: 600;
  --caption-bold-font-size: 11px;
  --caption-bold-letter-spacing: 0px;
  --caption-bold-line-height: 120.00000476837158%;
  --caption-bold-font-style: normal;
  --variable-collection-gradient: rgba(12, 1, 20, 1);
}
